fastapi==0.115.12
uvicorn==0.34.2
numpy==2.2.3
opencv-python==4.11.0.86
torch==2.7.0+cu126
torchvision==0.22.0+cu126
Pillow==10.4.0
requests==2.32.3
python-multipart==0.0.20
# SDXL dependencies
transformers
accelerate
diffusers
huggingface-hub